{% extends "base.html" %}

{% block content %}
    <h1>Add a Stock</h1>
    <form method="post">
        <label for="stockSymbol">Stock Symbol: <em>(required)</em></label>
        <input type="text" id="StockSymbol" name="stock_symbol" required pattern="[A-Z]{1,5}" />        <!-- Updated! -->
        <br>
        <label for="numberOfShares">Number of Shares: <em>(required)</em></label>
        <input type="text" id="NumberOfShares" name="number_of_shares" required/>                       <!-- Updated! -->
        <br>
        <label for="purchasePrice">Purchase Price ($): <em>(required)</em></label>
        <input type="text" id="PurchasePrice" name="purchase_price" placeholder="$300.00" required />   <!-- Updated! -->
        <br>
        <input type="submit" />
    </form>
{% endblock %}